
@{
    ViewBag.Title = "Index";
}

<h3>Produtos </h3>

<script type="text/javascript">

    $(document).ready(function () {

        initializer.obterProdutos();
        initializer.buscarProduto();       
    });

</script>

<div class="row">
    <div class="col-md-4 col-xs-4">
        <div class="form-group">
            <input type="text" id="buscar" name="buscar" class="form-control" placeholder="Buscar">
        </div>
    </div>
</div>
<div>
    <table class="table table-hover" id="tabela">
        <thead>
            <tr>
                <th>#</th>
                <th>Produto</th>
                <th>Preço</th>
                <th>Marca</th>
            </tr>
        </thead>
        <tbody id="body"></tbody>
    </table>
</div>




